@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
  }
  